@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	font-size:12px;
	line-height:1.3;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#ccc;
	background:url('images/body-bg.gif');
}
a {
	color:#e7b038;
	text-decoration:underline;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
a img {
	border:0;
}
input, textarea, select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
	
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;
}
.right, .alignright {
	float:right;
	display:inline;
}
.text-right {
	text-align:right;
}
h2 {
	font-size:10px;
	color:#f2a223;
	font-weight:bold;
}
h3 {
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
h4 {
	font-size:14px;
	color:#f3b12b;
	font-weight:bold;
}
header {
	background-color: #f2a223;
  	position: relative;
}
h1#logo {
	margin: 10px;
  margin-right: 450px;
  display: inline-block;
}
h1#logo a {
	text-decoration: none;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  display: inline;
}
.social {
	width:160px;
	padding: 5px;
  float: right;
}
.social span {
	float:left;
	display:inline;
	font-size:10px;
	color:#9f9f9f;
	line-height:16px;
	padding-right:5px;
}
.social ul {
	list-style:none;
}
.social ul li {
	display:inline;
	width:16px;
	padding-right:2px;
}
.social ul li a {
	float:left;
	display:inline;
	width:16px;
	height:16px;
	background:url('images/social.gif') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.social ul li a.facebook {
	background-position:-18px 0;
}
.social ul li a.vimeo {
	background-position:-36px 0;
}
.social ul li a.rss {
	background-position:-54px 0;
}
nav {
	display: inline-block;
}
nav ul {
	list-style:none;
}
nav ul li {
	
	display:inline;
	padding-left:29px;
}
nav .navlink {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	padding-left:29px;
}
nav .navlink.active, nav .navlink:hover {
	color:#d91d2a;
}
#main {
  margin: 20px 80px;
  display: block;
	border-bottom:1px dashed #413e3e;
}
.box {
	border-bottom:1px dashed #413e3e;
	padding-bottom:21px;
  position: relative;
}
.box .head {
  margin-left: 20px;
	padding-bottom:20px;
}
.box .head h2 {
	font-size: 24px;
}
.box .movie {
	width:304px;
	float:left;
	padding-left:49px;
}
.movie-image, .movie-image img, .movie-image a{
  width: 304px;
	height: 428px;
}
.movie-image {
	float:left;
}
.movie-image a {
	float:left;
	display:inline;
	position:relative;
  cursor: pointer;
}
.movie span.name {
	font-weight:bold;
	color:#fff;
	font-size:20px;
	text-align:center;
	display:block;
}

.rating {
	float:left;
	width: 240px;
  margin-top: 30px;
}
.rating p {
	float:left;
	font-size:20px;
	color:#fff;
	font-weight:bold;
}
.rating .stars {
  margin-top: 5px;
  float: right;
	height:11px;
	margin-left:2px;
}
.rating .stars-in {
	width:96px;
	display:inline;
	background:url('images/stars.gif') no-repeat 0 bottom;
	position:absolute;
	height:11px;
	font-size:0;
	line-height:0;
}

#coming h3 {
	float:left;
  	display: block;
}
#coming {
  	width: 1000px;
	display: flex;
  	flex-wrap: wrap ;
	padding-left:30px;
	margin-bottom: 20px;
}
.head {
	width:490px;
	padding-top:11px;
  	padding-left: 30px;
}
.head strong {
	color:#ff361a;
}
.head_catalog h2{
	text-align: center;
	padding-top: 10px;
	font-size: 24px;
}
.head_news h2{
	text-align: center;
	font-size: 24px;
	padding-top: 30px;
}
 .news {
  	width: 490px;
	height:70px;
	padding-bottom:32px;
	margin-right: 10px;
	line-height:16px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
 .full{
	width: 490px;
	height: auto;
	margin-right: 10px;
	line-height:16px;
	text-overflow: ellipsis;
	overflow: visible;
	display: inline-block;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
 .news h4 , .full h4{
	margin-top: 20px;
	padding-bottom:3px;
}
.news p, .full p {
	font-size:13px;
	color:#fff;
	cursor: pointer;
}
.more_news{
	margin-left: 30px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
.news_box{
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.news_card{
	position: relative;
	width: 45%;
	background:#f2a223;
	height: 400px;
	border-radius: 15px;
	margin-bottom: 50px;
	padding: 10px;
	margin-left: 3%;
}
.news_card img{
	height: 400px;
	width: 250px;
	border-radius: 15px;
	float: left;
	margin-right: 20px;
}
.news_card h1{
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}
.news_card p{
	color: #413e3e;
	font-size: 14px;
	margin: 10px;
	margin-bottom: 0px;
	text-align: justify;
}
.news_card .btn{
	margin-left: 5px;
	margin-top: 10px;
}
.news_btn{
	width: 600px;
	position: absolute;
	left: 275px;
	top: 340px;
}
footer{
  margin: 0 30px;
}
footer .lf {
  color: #9f9f9f;
  float: left;
}
#login-page #register-page{
  position: relative;
  height: auto;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  background: #f2a223;
}

.container {
  margin: 30px 0 30px 33%;
}

.container>h1 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 60px;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: block;
}
input[type="password"],
input[type="email"],
input[type="text"],
textarea {
  background: #f2a223;
  padding: 25px;
  font-size: 25px;
  border-radius: 15px;
  color: #fff;
  display: block;
  width: 50%;
}
textarea{
	height: 220px;
}

.btn{
  margin: 50px 2%;
  background: #fff;
  height: 60px;
  border-radius: 15px;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #f2a223;
  width: 23%;
  display: inline;
  z-index: -1;
}

.btn:hover{
  color: #fff;
  background-color: #f2a223;
}




.movie_card {
    position: relative;
    display: block;
    width: 800px;
    height: 1000px;
    margin: 80px auto;
	margin-top: 30px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
	background-color: #f2a223;
	padding-bottom: 20px;
}

.movie_card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

.info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}



.info_section h1 {
    color: black;
    font-weight: 400;
	text-align: center;
	position: relative;
	top: 25px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
}

.poster {
	margin: 48px;
	margin-bottom: 0px;
    height: 800px;
	width: 700px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
 
i {
	font-size: 19px;
	cursor: pointer;
}
.details_btn{
	margin-left: 40%;
	margin-top: 25px;
}
.details_card{
	position: relative;
	background:#f2a223;
	width: 800px;
	height: 400px;
	border-radius: 15px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	padding: 10px;
}
.details_card img{
	height: 400px;
	width: 250px;
	border-radius: 15px;
	float: left;
	margin-right: 20px;
}
.details_card h1{
	font-size: 36px;
	color: #fff;
	text-align: center;
	margin-top: 10px;
}
.details_card p{
	color: #413e3e;
	font-size: 24px;
	margin: 10px;
	text-align: justify;
}
.details_card .btn{
	margin-left: 40px;
}
.comments textarea{
	width: 800px;
	height: 200px;
	margin: auto;
	padding: 10px;
	margin-top: 30px;
}
.comments input[type='submit']{
	margin-left: 500px;
	margin-top: 30px;
}
.comments label{
	text-align: center;
}
.comments_box{
	width: 800px;
	background:#f2a223;
	border-radius: 15px;
	padding: 10px;
	margin: auto;
	margin-bottom: 30px;
}
.comments_box ul{
	list-style: none;
	padding: 20px;
	margin: 20px;
	margin-top: 0px;
}
.comments_box p{
	color: #fff;
	font-size: 24px;
	margin-bottom: 10px;
}
.comments_box h2{
	font-size: 36px;
	color: #fff;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin-left: 40px;
	margin-top: 20px;
}